{% extends "attendance/layout/layout.html" %}
{% load i18n %}
{% block content %}
    <div class="row">
        {% if is_allowed %}
            <div class="col-md-3 col-md-offset-9">
                {% if is_checkout %}
                    <a class='btn btn-info btn-block' href={% url 'attendance_checkout' %}>{% trans 'Checkout' %}</a>
                {% else %}
                    <a class='btn btn-info btn-block' href={% url 'attendance_checkin' %}>{% trans 'Checkin' %}</a>
                {% endif %}
            </div>
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-danger text-center">
                    You need to be @ the company to check in/out
                </div>
            </div>
        {% endif %}
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-3">
                    Check in
                </div>
                <div class="col-md-3">
                    Check out
                </div>
                <div class="col-md-3">
                    Duration
                </div>
                <div class="col-md-3">
                    <div class="btn-group  btn-group-justified" role="group">
                        {#            <a class='btn btn-info' href={% url 'manage_attendance' item.id %}>{% trans "Edit" %}</a>#}
                        {#            <a class='btn btn-info' href={% url 'attendance_details' item.id %}>{% trans "View" %}</a>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            {% for item in attendances %}
                {% include 'attendance/attendance/attendance_item.html' %}
            {% endfor %}
        </div>
    </div>


{% endblock %}
