{% extends "assistant/layout/layout.html" %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            <a class='btn btn-info btn-block' href="{% url "update_projects" %}">{% trans 'Update Projects ' %}</a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            {% for item in projects %}
                {% include 'assistant/project/project_item.html' %}
                <hr/>
            {% endfor %}
        </div>
    </div>
{% endblock %}
