




<div class="modal fade " id="site-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="site-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{#--> Leave requset <--#}
<div class="modal fade " id="new_leave" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="site-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>