{% load i18n %}
{% load calculate_hours %}
{% load static %}
{% block content %}
    <meta charset="utf-8">
    <link href="{% static 'css/nv.d3.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
    <script src="{% static 'js/nv.d3.js' %}"></script>



{# ---> users avatar/username <---#}
{% for member in members_performance %}
        <div class="row">
            <div class="col-md-3">
                <img src="{% static "dist/img/avatar.png" %}" class="img-thumbnail" alt="User Image" style="max-width: 100%; height: auto; display:block;">
                    <p>
                        <span class="hidden-xs">
                            {{ member.profile }}
                        </span>
                    </p>
            </div>

{# ---> users performance progress bar <---#}
        <div class="col-md-8">
            <div class="progress" style="height: 60px">
                <div class="bg-success progress-bar bg-danger progress-bar-striped active"
                     role="progressbar" aria-valuenow="{{ member.result }}" aria-valuemin="0"
                     aria-valuemax="100" style="width:{{ member.result }}%">
                    {{ member.result }}%
                </div>
            </div>
        </div>
        </div>
{% endfor %}

{% endblock %}

{% block js %}
{% endblock %}