{% extends "performance/layout/layout.html" %}
{% load i18n %}
{% load static %}
{% block content %}

    <style>

        #averagechart svg {
            display: block;
            float: left;
            height: 350px !important;
            width: 100% !important;
        }


    </style>

    <div class="row">
        <div class="col-md-6">
            <h1>
                {{ team.name }}'s Performance
            </h1>
        </div>
    </div>

    </br>

    {# ---> Timeline bar <---#}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                    <h4>
                        Timeline
                    </h4>
                </div>
                <div class="panel-body">
                    <label>{{ team.project_name }}</label>
                    <table class="table table-responsive">
                        <tbody>
                        <tr>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar {% if team.status == 'PL' %}progress-bar-success progress-bar-striped active{% endif %}"
                                         role="progressbar" style="width:100%">
                                        Planning
                                    </div>
                                </div>
                            </td>
                            {% for sprint in all_sprints %}
                                <td>
                                    <div class="progress">

                                        <div class="progress-bar {% if team.status == 'SP' and sprint.status != 'PE' %}progress-bar-success progress-bar-striped active{% endif %}"
                                             role="progressbar" style="width:100%">
                                            Sprint #{{ forloop.counter }}
                                        </div>
                                    </div>
                                </td>
                            {% endfor %}
                            <td>
                                <div class="progress">
                                    <div class="progress-bar {% if team.status == 'UA' %}progress-bar-success progress-bar-striped active{% endif %}"
                                         role="progressbar" style="width:100%">
                                        UAT
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar {% if team.status == 'RE' %}progress-bar-success progress-bar-striped active{% endif %}"
                                         role="progressbar" style="width:100%">
                                        Release
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar {% if team.status == 'HO' %}progress-bar-success progress-bar-striped active{% endif %}"
                                         role="progressbar" style="width:100%">
                                        Handover
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar {% if team.status == 'CL' %}progress-bar-success progress-bar-striped active{% endif %}"
                                         role="progressbar" style="width:100%">
                                        Closed
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <hr/>
                    {% for sprint in all_sprints %}
                        {% if sprint.status != 'PE' %}
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <label>Sprint #{{ forloop.counter }}</label>
                                    <div class="progress">

                                        <div class="progress-bar {% if sprint.status == 'PL' %}progress-bar-success progress-bar-striped active{% endif %}"
                                             role="progressbar" style="width:10%">
                                            Planing
                                        </div>
                                        <div class="progress-bar {% if sprint.status == 'WO' %}progress-bar-success progress-bar-striped active{% endif %}"
                                             role="progressbar" style="width:40%">
                                            working
                                        </div>
                                        <div class="progress-bar {% if sprint.status == 'QA' %}progress-bar-success progress-bar-striped active{% endif %}"
                                             role="progressbar" style="width:10%">
                                            QA
                                        </div>
                                        <div class="progress-bar {% if sprint.status == 'DE' %}progress-bar-success progress-bar-striped active{% endif %}"
                                             role="progressbar" style="width:10%">
                                            Deploy
                                        </div>
                                        <div class="progress-bar {% if sprint.status == 'RV' %}progress-bar-success progress-bar-striped active{% endif %}"
                                             role="progressbar" style="width:10%">
                                            Demo
                                        </div>
                                        <div class="progress-bar {% if sprint.status == 'RE' %}progress-bar-success progress-bar-striped active{% endif %}"
                                             role="progressbar" style="width:10%">
                                            Retro
                                        </div>
                                        <div class="progress-bar {% if sprint.status == 'CL' %}progress-bar-success progress-bar-striped active{% endif %}"
                                             role="progressbar" style="width:10%">
                                            Closed
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {# ---> Budget bar <---#}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                    <h4>
                        Project Budget
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="progress">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 style="width:{{ budget_performance }}%" aria-valuenow="{{ budget_performance }}%"
                                 aria-valuemin="0" aria-valuemax="100">
                                {{ budget_performance }}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# ---> sprint progress bar <---#}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                    <h4>
                        This Sprint Team Performance
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="{{ sprint_performance }}" aria-valuemin="0" aria-valuemax="100"
                             style="width:{{ sprint_performance }}%">
                            {{ sprint_performance }}%
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# ---> project progress bar <---#}
        <div class="col-md-6">
            <div class="panel panel-info text-center">
                <div class="panel-heading">
                    <h4>
                        Project Team Performance
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="progress">
                        <div class="bg-success progress-bar bg-danger progress-bar-striped active" role="progressbar"
                             aria-valuenow="{{ project_performance }}" aria-valuemin="0" aria-valuemax="100"
                             style="width:{{ project_performance }}%">
                            {{ project_performance }}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# ---> user/prifle progress bar <---#}
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-info text-center">
                    <div class="panel-heading">
                        <h4>
                            Team Members Performance
                        </h4>
                    </div>
                    <div class="panel-body">
                        {% include 'performance/profile_item.html' %}
                    </div>
                </div>
            </div>

            {# ---> Avarage team attendance Chart <---#}
            <div class="col-md-9">
                <div class="panel panel-info text-center">
                    <div class="panel-heading">
                        <h4>
                            Latest Team Attendance
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div id="averagechart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

    <script>


        var data = [
            {
                "key": "Check In",
                "color": "#fff",
                "values": [
                    {% for member in members_performance %}
                        {
                            "label": "{{ member.profile.username }}",
                            "value": parseFloat({{ member.check_in }})
                        },
                    {% endfor %}
                ]
            },

            {
                "key": "Attendance",
                "color": "#337ab7",
                "values": [
                    {% for member in members_performance %}
                        {
                            "label": "{{ member.profile.username }}",
                            "value": parseFloat({{ member.check_out }})
                        },
                    {% endfor %}
                ]
            },
            {
                "key": "Check Out",
                "color": "#fff",
                "values": [
                    {% for member in members_performance %}
                        {
                            "label": "{{ member.profile.username }}",
                            "value": parseFloat({{ member.check_final }})
                        },
                    {% endfor %}
                ]
            }

        ];

        nv.addGraph(function () {
            var chartx = nv.models.multiBarHorizontalChart()
                .x(function (d) {
                    return d.label
                })
                .y(function (d) {
                    return d.value
                })
                .margin({top: 30, right: 20, bottom: 50, left: 70})
                .showValues(true)
                .stacked(true)
                .yDomain([8,24])
                .showLegend(false)
                .showControls(false);

            chartx.yAxis
                .tickFormat(d3.format(',.2f'));

            d3.select('#averagechart').append('svg')
                .datum(data)
                .call(chartx);

            nv.utils.windowResize(chartx.update);

            return chartx;
        });
    </script>
{% endblock %}