{% load i18n %}
{% load calculate_hours %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h4>
                    {{ item.title }} <span
                        class="label label-default">{{ item.project }}</span>
                </h4>
                <small>
                    {{ item.description|default_if_none:"No Description"|truncatechars:500 }}
                </small>
            </div>
            <div class="col-md-2">
                {{ item.started_at|date:"H:i:s" }} -
                {{ item.ended_at|date:"H:i:s" }}

            </div>
            <div class="col-md-2">
                {{ item.duration|calculate_hours|default_if_none:"N/A" }}
            </div>
            <div class="col-md-2">
                <div class="btn-group  btn-group" role="group">
                    <a class='btn btn-info btn-sm' href={% url 'timeentry_details' item.id %} data-toggle="tooltip"
                       title="View"><i
                            class="glyphicon glyphicon-eye-open"></i></a>
                    {% if dashboard  != False %}
                        <a href="{% url "manage_timeentry" item.id %}" class="btn btn-success btn-sm"
                           data-toggle="modal"
                           data-target="#site-modal" data-toggle="tooltip"
                           title="Edit">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a href="{% url "rerun_timeentry" item.id %}" class="btn btn-warning btn-sm"
                           data-toggle="tooltip"
                           title="Rerun">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>