{% extends "assistant/layout/layout.html" %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            ID
        </div>
        <div class="col-md-3">
            {{ task.id }}
        </div>
        <div class="col-md-3">
            title
        </div>
        <div class="col-md-3">
            {{ task.title }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            description
        </div>
        <div class="col-md-3">
            {{ task.description }}
        </div>
        <div class="col-md-3">
            priority
        </div>
        <div class="col-md-3">
            {{ task.priority }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            estimated time
        </div>
        <div class="col-md-3">
            {{ task.estimated_time }}
        </div>
        <div class="col-md-3">
            project
        </div>
        <div class="col-md-3">
            {{ task.project }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            submitted by
        </div>
        <div class="col-md-3">
            {{ task.submitted_by }}
        </div>
        <div class="col-md-3">
            create date
        </div>
        <div class="col-md-3">
            {{ task.create_date }}
        </div>
    </div>
    <div class="row">
    </div>
    {{ task.time_entry_id }}
    {{ data.text }}
{% endblock %}
