{% extends "time_tracker/layout/layout.html" %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <a class='btn btn-info btn-block' data-toggle="modal" data-target="#site-modal"
               href={% url 'manage_task' username=request.user.username %}>{% trans 'Add Request' %}</a>
        </div>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-2">
                    Title
                </div>
                <div class="col-md-2">
                    Description
                </div>
                <div class="col-md-1">
                    Priority
                </div>
                <div class="col-md-2">
                    Project
                </div>
                <div class="col-md-1">
                    Submitted By
                </div>
                <div class="col-md-2">
                    Create Date
                </div>
                <div class="col-md-2">
                    Actions
                </div>
            </div>
        </div>
        <div class="panel-body">
            {% for item in tasks %}
                {% include 'time_tracker/task/task_item.html' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}