{% extends "time_tracker/layout/layout.html" %}
{% load i18n %}
{% block content %}
    <div class="panel panel-default">
            <div class="panel-heading">
    <div class="row">
        <div class="col-md-1">
            ID
        </div>
        <div class="col-md-1">
            title
        </div>
        <div class="col-md-2">
            description
        </div>
        <div class="col-md-1">
            priority
        </div>
        <div class="col-md-2">
            estimated time
        </div>
        <div class="col-md-2">
            project
        </div>
        <div class="col-md-1">
            submitted by
        </div>
        <div class="col-md-2">
            create date
        </div>
    </div>
            </div>


        <div class="panel-body">
    <div class="row">
        <div class="col-md-1">
            {{ task.id }}
        </div>
        <div class="col-md-1">
            {{ task.title }}
        </div>
        <div class="col-md-2">
            {{ task.description }}
        </div>
        <div class="col-md-1">
            {{ task.priority }}
        </div>
        <div class="col-md-2">
            {{ task.estimated_time }}
        </div>
        <div class="col-md-2">
            {{ task.project }}
        </div>
        <div class="col-md-1">
            {{ task.submitted_by }}
        </div>
        <div class="col-md-2">
            {{ task.create_date }}
        </div>
    </div>
        </div>
            </div>
    {{ task.time_entry_id }}
    {{ data.text }}
{% endblock %}
